/* line 6, ../../jhc-study/12/scss/pinterestgrid.scss */
body {
  background-image: url(../img/bg-gray.png);
  color: #333;
  font-family: Cambria, Georgia, serif;
  font-size: 15px;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

/* line 15, ../../jhc-study/12/scss/pinterestgrid.scss */
a {
  color: #35BFFF;
  text-decoration: none; }
  /* line 20, ../../jhc-study/12/scss/pinterestgrid.scss */
  a:hover, a:active {
    color: #91DCFF; }

/* line 26, ../../jhc-study/12/scss/pinterestgrid.scss */
.global-header h1 {
  font-family: 'Donegal One', serif; }
/* line 29, ../../jhc-study/12/scss/pinterestgrid.scss */
.global-header .masthead {
  color: #fa3599; }

/* pinterest grid
----------------------------------------*/
/* line 36, ../../jhc-study/12/scss/pinterestgrid.scss */
#container {
  margin: 0 auto 25px;
  position: relative;
  padding-bottom: 10px; }

/* line 41, ../../jhc-study/12/scss/pinterestgrid.scss */
.grid {
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  float: left;
  font-size: 12px;
  margin: 8px;
  min-height: 100px;
  padding: 15px;
  width: 188px;
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  transition: top 1s ease, left 1s ease; }
  /* line 52, ../../jhc-study/12/scss/pinterestgrid.scss */
  .grid h2 {
    border-bottom: 1px solid #ccc;
    color: #fa3599;
    display: block;
    font-family: 'Donegal One', serif;
    font-size: 17px;
    margin: 10px 0;
    padding: 0 0 5px; }
  /* line 61, ../../jhc-study/12/scss/pinterestgrid.scss */
  .grid .meta {
    color: #777;
    font-style: italic;
    text-align: right; }
  /* line 67, ../../jhc-study/12/scss/pinterestgrid.scss */
  .grid .imgholder img {
    background: #ccc;
    display: block;
    max-width: 100%; }
