/* line 3, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/appendix/css_length.scss */
img {
  padding: 0;
  margin: auto;
  display: block; }

/* line 8, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/appendix/css_length.scss */
img {
  width: 10vw; }
