/* line 4, ../../jhc-study/09.1/scss/animation2.scss */
li {
  color: #fff;
  height: 72px;
  font-size: 90%;
  line-height: 72px;
  margin-bottom: 20px;
  padding: 8px;
  width: 72px; }
  /* line 13, ../../jhc-study/09.1/scss/animation2.scss */
  li:hover {
    -webkit-animation: expand 1s ease 2s 1 normal none;
    -moz-animation: expand 1s ease 2s 1 normal none;
    -o-animation: expand 1s ease 2s 1 normal none;
    -ms-animation: expand 1s ease 2s 1 normal none;
    animation: expand 1s ease 2s 1 normal none;
    box-shadow: 0 20px 40px #888888; }

/* line 19, ../../jhc-study/09.1/scss/animation2.scss */
.none {
  background: #333; }

/* line 22, ../../jhc-study/09.1/scss/animation2.scss */
.forwards {
  background: #ff358B; }
  /* line 24, ../../jhc-study/09.1/scss/animation2.scss */
  .forwards:hover {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

/* line 28, ../../jhc-study/09.1/scss/animation2.scss */
.backwards {
  background: #01b0f0; }
  /* line 30, ../../jhc-study/09.1/scss/animation2.scss */
  .backwards:hover {
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

/* line 34, ../../jhc-study/09.1/scss/animation2.scss */
.both {
  background: #aeee00; }
  /* line 36, ../../jhc-study/09.1/scss/animation2.scss */
  .both:hover {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both; }

@-webkit-keyframes expand {
  /* line 42, ../../jhc-study/09.1/scss/animation2.scss */
  0% {
    border-radius: 44px; }

  /* line 43, ../../jhc-study/09.1/scss/animation2.scss */
  100% {
    width: 720px; } }

@-moz-keyframes expand {
  /* line 42, ../../jhc-study/09.1/scss/animation2.scss */
  0% {
    border-radius: 44px; }

  /* line 43, ../../jhc-study/09.1/scss/animation2.scss */
  100% {
    width: 720px; } }

@-ms-keyframes expand {
  /* line 42, ../../jhc-study/09.1/scss/animation2.scss */
  0% {
    border-radius: 44px; }

  /* line 43, ../../jhc-study/09.1/scss/animation2.scss */
  100% {
    width: 720px; } }

@keyframes expand {
  /* line 42, ../../jhc-study/09.1/scss/animation2.scss */
  0% {
    border-radius: 44px; }

  /* line 43, ../../jhc-study/09.1/scss/animation2.scss */
  100% {
    width: 720px; } }
