/* line 1, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/02/ls.scss */
.content-title {
  margin-top: 0; }

/* line 4, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/02/ls.scss */
.header-controls {
  text-align: right; }
  /* line 7, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/02/ls.scss */
  .header-controls .btn-link {
    font-size: 18px; }

/* line 12, /Users/yamadanaoki/Documents/workspace/dev.cm/middleman/source/assets/stylesheets/02/ls.scss */
hr {
  margin-bottom: 30px;
  margin-top: 0; }
