/* line 4, ../../jhc-study/06/scss/common.scss */
body {
  height: 3300px; }

/* line 7, ../../jhc-study/06/scss/common.scss */
h1 {
  font-size: 100%; }

/* line 10, ../../jhc-study/06/scss/common.scss */
.indicator {
  position: fixed;
  right: 10px;
  top: 10px; }
